QMainWindow, QDialog { background-color: #7FDBFF;}
QLabel, QPushButton      { color: black; font-family:'Times New Roman', serif;}
QPushButton{
    background-color: transparent;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: black;
    font: bold 14px;
    padding: 6px;
}
QPushButton:hover{
    background-color: white;
    color: black;
}

QTextEdit { background-color: white; color: black; }
QComboBox { color: black; }
QTableWidget,QTableView { background-color: #7FDBF0; color: black;}
